<p style="color: green"><%= notice %></p>

<%= render @state_of_work %>

<div>
  <%= link_to "Edit this state of work", edit_state_of_work_path(@state_of_work) %> |
  <%= link_to "Back to state of works", state_of_works_path %>

  <%= button_to "Destroy this state of work", @state_of_work, method: :delete %>
</div>
