<!DOCTYPE html>
<html>
  <head>
    <title>WorkPointsRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <ul id="menu">
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "States of Work", state_of_works_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
